
.button {
  color: white;
  font-size: 20px;
  border: none;
  text-align: center;
}

.menu {
  position: relative;
  display: inline-block;

}

.options {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

.option {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.option:hover {
  background-color: #ddd;
  border-radius: 10px;
}

.menu:hover .options {
  display: block;
}
